const crypto = require('crypto')

let doHash = (str, hsh) => {return crypto.createHash(hsh).update(str).digest("hex")}

module.exports = {
  jwtSecret: "!!insert_a_secret_key_here!!",
  verifyGame: (game, gameHash, hashPass) => {
    # don't worry about implementing this function
    return true;
  }
}